body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 0 4em 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

a {
  color: blue;
}
/*.boardContainer {

}*/
.container {
  float: left;
  width: 100%;
}

.track {
  background-color: red;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}

.board {
  background-color: blue;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
}

.target {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
}

.clear {
  clear: both;
}
