html,
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 0 4em 0;
  padding: 0;
  height: 100%
}

*{
  box-sizing: border-box;
}

a {
  color: blue;
}

/*
  BELOW IS FOR THE D3 CHART

*/
svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}


.chart {
  height: 150px;
}

.lobby-container {
  margin-top: 50px;
}
.footer {
  background-color: black;
  height: 200px;
}
.header {
  background-color: #000000;
  width: 100%;
  height: 100px;
  text-align: center;
}

.navbar {
  background-color: white;
  height: 50px;
  width: 100%;
}

.leader {
  height: 150px;
}

.demo-card-wide.mdl-card {
  width: 240px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 240px;
  background: url('/images/intro_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-wide.mdl-card {
  width: 240px;
}
.demo-card-wide > .mdl-card__title_leader {
  color: #fff;
  height: 240px;
  background: url('/images/galaxy_leaders.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

ul li:nth-child(2n+1) {
  color: #ccc;
}

li {
  list-style-type: none;
}
.welcome-card.mdl-card {
  width: 512px;
}
.welcome-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/images/space_md_card.jpg') center / cover;
}
.welcome-card > .mdl-card__menu {
  color: #fff;
}
.posted-chat {
  height: 300px;
  width: 400px;
  background-color: #dadada;
  margin-bottom: 100px;
}
.textbox {
  margin-top: 100px;
}
.chat-box {
  float: left;
}
.lobby {
  background-color: black;
  height: 100%;
  width: 100%
}

.row {
  width: 100%
}
/*
#sidebar a:link{ color:#134896; }
#sidebar a:visited{ color:#330033; }
#sidebar a:hover{ color:#942A5F; }
#sidebar a:active{ color:#6FB25C}
*/
.float-left {
  float: left;
  margin-left: 20px
}
.header a {
  color: #36c3e0;
  font-size: 18px;
  text-decoration: none;
}
.header a:hover{
  color: #D3D3D3;
  font-size: 18px;
  text-decoration: none;
}
.header a:active{
  color: #bababa;
  font-size: 18px;
  text-decoration: none;
}

.cards a {
  color: #D3D3D3;
  font-size: 12px;
  text-decoration: none;
}
.cards a:hover {
  color: #bababa ;
  font-size: 12px;
  text-decoration: none;
}
.cards a:active{
  color: #36c3e0;
  font-size: 12px;
  text-decoration: none;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('/images/space_md_card.jpg') bottom right 15% no-repeat #46B6AC;
}


.presentation {
  background-image: url("/images/space.jpg");
  height: 500px;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.col-1 {
  width:8.33%;
  float: left;
}

.col-2 {
  width:16.66%;
  float: left;
}
.col-3 {
  width:24.99%;
  float: left;
}
.col-4 {
  width:33.33%;
  float: left;
}
.col-5 {
  width:41.65%;
  float: left;
}

.col-6 {
  width:50%;
  float: left;
}

.col-7 {
  width: 58.3%
  float: left;
}
.col-8 {
  width: 66.6%
  float: left;
}
.col-9 {
  width: 74.9%
  float: left;
}
.col-10 {
  width: 83.3%
  float: left;
}
.col-11 {
  width: 91.6%
  float: left;
}
.col-12 {
  width:100%;
  float: left;
}


.col-offset-1 {
  margin-left:8.33%;
}

.col-offset-2 {
  margin-left:16.66%;
}
.col-offset-3 {
  margin-left:24.99%;
}
.col-offset-4 {
  margin-left:33.33%;
}
.col-offset-5 {
  margin-left:41.65%;
}

.col-offset-6 {
  margin-left:50%;
}

.col-offset-7 {
  margin-left: 58.3%
}
.col-offset-8 {
  margin-left: 66.6%
}
.col-offset-9 {
  margin-left: 74.9%
}
.col-offset-10 {
  margin-left: 83.3%
}
.col-offset-11 {
  margin-left: 91.6%
}
.col-offset-12 {
  margin-left:100%;
}
.text-center {
  text-align: center;
}


.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-bottom {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}
/*.boardContainer {

}*/
.container {
  float: left;
  width: 100%;
}

.track {
  background-color: #dadada;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.mission-control {
  width: 100%;
  height: 80px;
}
.control-right {
  float: right;
  margin-right: 25%
}

.ticker{
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  /*height: 60px;*/
  color: #36c3e0;
  font-family: 'Play', sans-serif;

}
.board {
  background-image: url("/images/space.jpg");
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
  background-image: url('/images/galaxy_ship.png');
}

.bomb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-image: url('/images/galaxy_bomb.png');
  position: absolute;
}

.target {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-image: url('/images/galaxy_target.png');
  position: absolute;
}

.clear {
  clear: both;
}

.score-div {
  text-align: center;
}

.players-in-room{

}

.ontop {
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  /*bottom: 0;
  left: 0;*/
  display: none;
  position: fixed;
  background-color: black;
  opacity: .7;
  /*filter: alpha(opacity = 80);*/
}
.countdown{
  color: #36c3e0;
  font-size: 100px;
}
#popup {
  width: 250px;
  height: 250px;
  position: absolute;
  /*color: #36c3e0;*/
  color: white;
  text-align: center;
  background-color: #dadada;
  padding-top: 30px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;

}
