body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}
/*.boardContainer {

}*/

.track {
  background-color: red;
  float: left;
  width: 400px;
  height: 400px;
}
.board {
  background-color: blue;
  float: right;
  width: 400px;
  height: 400px;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: relative;
}

.target {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: red;
}
