body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 0 4em 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

a {
  color: blue;
}
/*.boardContainer {

}*/
.container {
  float: left;
  width: 100%;
}

.track {
  background-color: #677077;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}

.ticker{
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: #b5b5b7;

}
.board {
  background-color: #f2b632;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  position: absolute;
}

.bomb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
}

.target {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
}

.clear {
  clear: both;
}

.score-div {
  text-align: center;
}
