<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- For grey out pop up -->
<div id="popDiv" class="ontop">
	<table border="0" id="popup">
		<tr>
		<td>
      <span id="gameOverMsg" class="text-center"></span>
			</td>
		</tr>
	</table>
</div>

	<div class="mission-control">
		<div class="ticker vertical-center">
		</div>

		<img class="control-right" src="/images/galaxy_legend.png" class="text-center" height="83px" />

	</div>

<div class="container">
  <div class="track" ng-mousemove="mouseTrack($event)" ng-style="trackStyle">

	</div>
  <div class="board" ng-style="boardStyle"></div>
</div>
<div class="clear">
</div>


<div class="chart"></div>
