
<!-- For grey out pop up -->
<div id="popDiv" class="ontop">
	<table border="0" id="popup">
		<tr>
		<td>
      <span id="gameOverMsg" class="text-center"></span>
			</td>
		</tr>
	</table>
</div>

<div>
  <div class="track" ng-mousemove="mouseTrack($event)" ng-style="trackStyle"></div>
  <div class="board" ng-style="boardStyle"></div>
</div>
<div class="clear">
</div>



<div class="container">
		<div class="col-md-6">
			<div class="chart text-center"></div>
		</div>
		<div class="col-md-6">
			<div class="ticker"></div>
		</div>
</div>
